@font-face {
    font-family: "Alatsi";
    src: url("../fonts/Alatsi-Regular.ttf");
}

@font-face {
    font-family: "Alice";
    src: url("../fonts/Alice-Regular.ttf");
}

@font-face {
    font-family: "Bungee";
    src: url("../fonts/Bungee-Regular.ttf");
}

@font-face {
    font-family: "CreteRound";
    src: url("../fonts/CreteRound-Regular.ttf");
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: "Chunk Five";
    src: url("../fonts/Chunkfive\ Ex.ttf");
    
}